.back {
	background: #0056A0;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
  }

  .container{
	padding-top:30px;
  }
  
  .div-center {
	width: 400px;
	height: 400px;
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	overflow: auto;
	padding: 1em 2em;
	border-bottom: 2px solid #ccc;
	display: table;
	border-radius:5px;
  }
  
  div.content {
	display: table-cell;
	vertical-align: middle;
  }
  div.content .login-logo-container{
	width:100%;
	text-align:center;
  }
  .login-logo-container img{
	width:150px;
	height:auto;
  }
  .login-alert, .member-alert{
	display:none;
  }
  .graph {
	margin-bottom:1em;
  font:normal 100%/150% arial,helvetica,sans-serif;
}

.graph caption {
	font:bold 150%/120% arial,helvetica,sans-serif;
	padding-bottom:0.33em;
}

.graph tbody th {
	text-align:right;
}
.table-container{
	width:100%;
}
.table-container table tr td{
	font-size:15px;
	white-space:nowrap;
}
@media(max-width:900px){
	.table-container{
		overflow-x:scroll;
		-webkit-overflow-scrolling: touch;        
		-ms-overflow-style: none; /* IE 11 */        
		scrollbar-width: none; /* Firefox 64 */
	}
}
